<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medicine.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= medicine.price %>
  </p>

<<<<<<< HEAD
  <p>
    <strong>Count:</strong>
    <%= medicine.count %>
  </p>

=======
>>>>>>> 1e11775 (First Commit)
</div>
