<div id="<%= dom_id customer %>">
  <p>
<<<<<<< HEAD
    <strong>Phone:</strong>
    <%= customer.phone %>
=======
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= customer.second_name %>
>>>>>>> 1e11775 (First Commit)
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

<<<<<<< HEAD
=======
  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

>>>>>>> 1e11775 (First Commit)
</div>
