<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
<<<<<<< HEAD
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
=======
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :second_name, style: "display: block" %>
    <%= form.text_field :second_name %>
>>>>>>> 1e11775 (First Commit)
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_area :email %>
  </div>

  <div>
<<<<<<< HEAD
=======
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone %>
  </div>

  <div>
>>>>>>> 1e11775 (First Commit)
    <%= form.submit %>
  </div>
<% end %>
